{% extends 'base.html' %}
{% load static%}
{% block title %}
<title>{{ recipe_object.name }} - Dishes Deliciosos </title>
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">|"Casita"|</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Create</button>
    </form>
</main>
{% endblock content %}
