{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ recipe_object.name }} - Dishes Deliciosos
{% endblock title %}
{%block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">|"Casita"|</a>
    </nav>
</header>
<main>
    <h1>{{ recipe_object.name }}</h1>
    <img class="fit-picture" src="{{ recipe_object.picture }}">
    <div>5 stars -- 167 votes</div>
    <p>{{ recipe_object.description }}</p>
    <a href="{% url 'edit' recipe_object.id %}">Edit?</a>
    <h2>Ingredients</h2>
    <p></p>
    <table>
        <thead>
            <tr>
                <th colspan="1">Amount</th>
                <th colspan="1">Food item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredients in recipe_object.ingredients.all %}
            <tr>
                <td>{{ingredients.amount}}</td>
                <td>{{ingredients.food_item}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <h2>Steps</h2>
    <p></p>
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
</main>
{% endblock content%}
