{%extends 'base.html' %}
{% load static%}
{%block title %}
<title>{{ recipe_object.name }} - Dishes Deliciosos </title>
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">|"Casita"|</a>
    </nav>
</header>
<main>
    <h2>Edit {{ recipe_object.name }}</h2>
    <form method="post">
        {% csrf_token %}
        {{recipe_form.as_p}}
        <button>Save</button>
    </form>
</main>
{% endblock content%}
