{% extends 'base.html' %}
{% load static %}

{% block title %}
Dishes Deliciosos
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">|"Casita"|</a>

        {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
        <a href="{% url 'create_recipe' %}">|"Nueva" recipe|</a>
        <a href="{% url 'my_recipe_list' %}">|My Recipes|</a>
        <a href="{% url 'user_logout' %}">|Logout|</a>

        {% else %}
        <a href="{% url 'signup' %}">|Sign up|</a>
        <a href="{% url 'user_login' %}">|Login|</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Dishes Deliciosos</h1>
    <h2 id="maincap">The dishes <i>mas sabrosos</i> north of the Rio Grande.</h2>
    <div class="pictures">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.name }}</a>
            </h3>
            <img src="{{ recipe.picture|default:"https://via.placeholder.com/150" }}">
            <p>{{ recipe.created_on|date:"F j Y" }}</p>
        </div>
        {% empty %}
            <p>There are no recipes.</p>
        {% endfor %}
    </div>
    </main>

{% endblock content %}
