@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rye&family=Sacramento&family=Tangerine:wght@700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #009d4c;
    color: white;
}
img {
    height: 200px;
}

main {
    padding: 16px;
}
footer {
    padding: 20px;
    background-color: #f3512a;
    font-family: 'Sacramento', cursive;
    font-size: 28px;
}
nav {
    padding: 16px;
    border-bottom: 5px dashed black;

}
nav p {
    font-family: 'Rye', cursive;
}
header {
    background-color: #89111e;
}
header a{
    color: white;
    font-family: 'Rye', cursive ;
    font-size: 20px;

}
h1 {
    font-family: 'Rye', cursive;
    font-size: 72px;
    padding: 10px;
    color: #dbad6c;
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
    text-align: center;
    border: 15px ridge black;
    background-image: linear-gradient(to right, #006847 ,white, #ce1126);
    box-shadow: 10,10, 5,  #ce1126;
}
h2 {
    font-family: "Fredericka the Great", cursive;
}
#maincap {
    text-align: center;
    text-shadow: rgb(0, 0, 0) 5px 0 10px;
}

h3 a {
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #a5a5a5;
}

div.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Tahoma, cursive;
    text-align: center;
}
div.pictures>div:hover {
    border: 3px dashed black;
}

a {
    text-decoration: none;
}
